<style>
    .container{width:100%;margin:auto;}
    @media(min-width:600px){.container{width: 80%;}}
    @media(min-width:768px){.container{width: 60%;}}
    @media(min-width:1024px){.container{width: 50%;}}
    </style>
    
    <div class="container">
    <h1>What do you want to know about NTU?</h1>
        <form action="/image_NTU"method="post">
            <input type = "submit"value="NTU's scene"style="width:200px;height:100px;">
        </form>
        <form action="/text_NTU"method="post">
            <input type = "submit"value="NTU overview"style="width:200px;height:100px;">
        </form>
        <form action="/end"method="post">
            <input type = "submit"value="GOODBYE"style="width:200px;height:100px;">
        </form>
    
    </div>
