<style>
  .container{width:100%;margin:auto;}
  @media(min-width:600px){.container{width: 80%;}}
  @media(min-width:768px){.container{width: 60%;}}
  @media(min-width:1024px){.container{width: 50%;}}
  </style>
  
  <div class="container">
    <h1>NTU has a fascinating campus.</h1>
      <p><img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fss2.meipian.me%2Fusers%2F559248%2F13b5f04a6eed478fb5dc3223e13cdd87.jpeg%3Fmeipian-raw%2Fbucket%2Fivwen%2Fkey%2FdXNlcnMvNTU5MjQ4LzEzYjVmMDRhNmVlZDQ3OGZiNWRjMzIyM2UxM2NkZDg3LmpwZWc%3D%2Fsign%2F92d422e2f4b28a96e7bb8ecd2faf94ba.jpg&refer=http%3A%2F%2Fss2.meipian.me&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1711165948&t=b480f22398fbbfc9ce723af606e558cf"
        width="600"height="300"</p>
      <p><img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fss2.meipian.me%2Fusers%2F559248%2F94c472353c4e486aab0c9431670902c7.jpeg%3Fmeipian-raw%2Fbucket%2Fivwen%2Fkey%2FdXNlcnMvNTU5MjQ4Lzk0YzQ3MjM1M2M0ZTQ4NmFhYjBjOTQzMTY3MDkwMmM3LmpwZWc%3D%2Fsign%2F5ebf04b6b10088a650a444bc34938ae5.jpg&refer=http%3A%2F%2Fss2.meipian.me&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1711176515&t=777fd474b558b6be4ad0249554ada85d"
        width="600"height="300"</p>
      <p><img src="https://p7.itc.cn/q_70/images03/20220831/8aa16b9a87d344f09e44d9b77cafef47.jpeg"
        width="600"height="300"</p>
    <form action="/about_ntu"method="post">
        <input type = "submit"value="About NTU"style="width:200px;height:100px;">
    </form>
    <form action="/main"method="post">
      <input type="submit"value="Main"style="width:200px;height:100px;">
    </form>
    <form action="/end"method="post">
      <input type = "submit"value="GOODBYE"style="width:200px;height:100px;">
     </form>
  </div>
