<style>
.container{width:100%;margin:auto;}
@media(min-width:600px){.container{width: 80%;}}
@media(min-width:768px){.container{width: 60%;}}
@media(min-width:1024px){.container{width: 50%;}}
</style>

<h1>Welcome to Singapore:)</h1>
  <p><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.ntu.edu.sg%2Fnews%2Fdetail%2Fntu-rises-to-30th-place-ranks-no.1-in-five-subjects-in-us-news-world-report&psig=AOvVaw3vQnp6XQXVry3QKFniDKZ2&ust=1708571650068000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCOjHrMi7u4QDFQAAAAAdAAAAABAE"
     width="300"height="200"</p>
<form action="/main"method="post">
  <h2>My name is João, may I know your name:</h2>
  <input type="text"name="r"style="width:100px;height:50px;">
  <p><input type="submit"value="Enter"style="width:200px;height:100px;></p>
</form>
</div>
