<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>This is the overview of NTU:</h1>
<h2>Nanyang Technological University (NTU) is one of Singapore's two major national universities. Founded in 1981, it is also the second-oldest autonomous university in the country. NTU is frequently ranked within the world's top 30 universities according to most major international rankings, and is widely-considered to be one of the two most prestigious universities in Singapore, the other being the National University of Singapore.

    The university is organised across numerous colleges and schools, including the College of Engineering, College of Science, Nanyang Business School, Lee Kong Chian School of Medicine, College of Humanities, Arts and Social Sciences, Graduate College, National Institute of Education, and S. Rajaratnam School of International Studies. NTU is also home to several Research Centres of Excellence such as the Earth Observatory of Singapore and Singapore Centre on Environmental Life Sciences Engineering. NTU's main campus covers 200 hectares (490 acres) of land, making it the largest university campus in Singapore.
    
    The primary campus grounds are located in the western part of Singapore, along 50 Nanyang Avenue. It also has two other campuses in Singapore's healthcare and start-up districts, Novena and one-north respectively. As a large, comprehensive, university, it has 34,384 enrolled students, and 7,613 faculty and staff as of 2021.</h2>
<form action="/about_ntu"method="post">
    <input type = "submit"value="About NTU"style="width:200px;height:100px;">
</form>
<form action="/main"method="post">
    <input type="submit"value="Main"style="width:200px;height:100px;">
</form>
<form action="/end"method="post">
    <input type = "submit"value="GOODBYE"style="width:200px;height:100px;">
</form>
</div>
